body { 
  text-align: left;
  font-family: Verdana,Arial,Helvetica,sans-serif; 
  font-size: 100%;
  color: #1c1c1c;
  overflow: scroll; 
  padding: 0px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: Verdana,Arial,Helvetica,sans-serif; 
}
.container {
  background: #FFFFFF none repeat scroll 0%;
  border:1px solid #000000;
  margin:0pt auto;
  text-align: left;
  width: 55em;
}
.header {
  background: #FAD689;
  padding: 1.5em;
  margin: 0px;
  text-align: left;
  clear: both;
}
#photo {
  text-align: left;
  float: left;
  overflow: hidden;
  padding-right: 1em;
}
#name {
  font-size: 200%;
  font-weight: bold;
  color: black;
}
#title {
  font-style: italic;
  font-size: 130%;
  margin-top: 0.7em;
  margin-bottom: 1em;
}
.time {
  text-align: right;
  padding-top: 0.4em;
  font-style: italic;
}
.main {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 0.7em 1em;
}
h1 {
  color: #ed784a;
  font-size: 150%;
}
h2 {
  color: #0c0c0c;
  font-size: 130%;
  display: inline;
}
h3 {
  color: #1c1c1c;
  font-size: 110%;
  display: inline;
}
.indent {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.okrscore {
  font-size: 80%;
  display: inline;
  padding-left: 1em;
}
.project-size {
  font-size: 90%;
  display: inline;
  padding-left: 1em;
}
.project-time, .edu-time {
  font-size: 80%;
  display: inline;
  padding-left: 1em;
}
.green {
  color: green;
}
.red {
  color: red;
}
.yellow {
  color: #cc6600; 
}
.blue {
  color: blue; 
}
p {
  padding-left: 2em;
  font-size: 110%;
}
li {
  font-size: 110%;
  padding: 0.2em;
}
.footer {
  text-align: right;
  padding: 0.2em;
  background: #FAD689;
}
a {
  color: #113285;
}
